{% extends 'base.html.twig' %}

{% block body %}

    <div class="start-page">

        <div class="container">
            <div class="intro">
                <h1 class="display-4">{{ 'label.welcome.title'|trans }}</h1>
                <h2>{{ 'label.welcome.sub-title'|trans }}</h2>
            </div>
        </div>

        <div class="container">
            <div class="row">
                {% for item in leather %}
                    {% include 'app/partials/item.html.twig' with {product: item, isHomepage: true} %}
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="container start-seo">
        <h2>{{ 'label.about-us'|trans }}</h2>
        <p>{{ 'label.welcome.desc'|trans|nl2br }}</p>
        <p class="pull-right"><a class="btn btn-primary btn-lg" href="{{ path('app_index_page', {slug: 'routes.about-us'|trans}) }}" role="button">{{ 'label.more'|trans }} »</a></p>
    </div>

{% endblock %}