{% set itemUrl = path('app_index_catalogue', {
    catAlias: product.category.parent.alias(app.request.locale),
    subCatAlias: product.category.alias(app.request.locale),
    itemId: product.id
}) %}

<div class="col-lg-4">
    <a href="{{ itemUrl }}" class="a-single-item">
        <div class="card single-item">
            {% set imgSeparator = constant('App\\Entity\\Product::IMG_SEPARATOR') %}
            <img class="card-img-top" src="{{ asset('/images/products/' ~ product.images|trim(imgSeparator)|split(imgSeparator)|first ) }}">

            <div class="card-body">
                <h2>{{ product.title(app.request.locale) }}</h2>
                <p class="card-text">
                    {{ 'label.price'|trans }}: EUR {{ product.price|number_format(2, ',', '.') }}
                </p>
                <p class="card-text">
                    <span class="btn btn-primary">{{ 'label.more'|trans }}</span>
                </p>
            </div>
        </div>
    </a>
</div>