{% set itemUrl = path('app_index_catalogue', {
    catAlias: product.category.parent.alias(app.request.locale),
    subCatAlias: product.category.alias(app.request.locale),
    itemId: product.id
}) %}

<div class="col-lg-4">
    <a href="{{ itemUrl }}" class="a-single-item">
        <div class="card single-item">
            {% set imgSeparator = constant('App\\Entity\\Product::IMG_SEPARATOR') %}

            <div class="img-container{{ isHomepage is defined ? ' homepage' }}">
                <img src="{{ asset('/images/products/' ~ product.images|trim(imgSeparator)|split(imgSeparator)|first ) }}">
            </div>

            <div class="card-body">
                <h2>{{ product.title(app.request.locale) }}</h2>
                <p class="card-text">
                    {{ 'label.price'|trans }}: {{ product.price|number_format(2, ',', '.') }} <i class="fa fa-euro"></i>
                </p>
                <p class="card-text pull-right">
                    <span class="btn btn-primary">
                        <i class="fa fa-plus-circle"></i>
                        {{ 'label.show-details'|trans }}
                    </span>
                </p>
            </div>
        </div>
    </a>
</div>